<div class="wf-form wf-widgetsettings">
  <div *ngIf="supportSetting.label" class="wf-field wf-setting-label">
    <div class="fieldname">
      <span>Title</span>
      <span class="fieldinfo">50 characters max</span>
    </div>
    <div class="fieldblock">
      <input type="text" (input)="changeComponent()" maxlength="50" [(ngModel)]="supportSetting.defaultLable">
    </div>
  </div>
  <div *ngIf="supportSetting.label2" class="wf-field wf-setting-label">
    <div class="fieldname">
      <span>Title 2</span>
      <span class="fieldinfo">50 characters max</span>
    </div>
    <div class="fieldblock">
      <input type="text" (input)="changeComponent()" maxlength="50" [(ngModel)]="supportSetting.defaultLable2">
    </div>
  </div>
  <div *ngIf="supportSetting.action" class="wf-field wf-setting-label">
    <div class="fieldname">
      <span>Action Name</span>
      <span class="fieldinfo">50 characters max</span>
    </div>
    <div class="fieldblock">
      <input type="text" (input)="changeComponent()" maxlength="50" [(ngModel)]="supportSetting.defaultAction">
    </div>
  </div>
  <div *ngIf="supportSetting.textnote" class="wf-field wf-setting-content">
    <div class="fieldname">
      <span>Description</span>
      <span class="fieldinfo">5000 words max</span>
    </div>
    <div class="fieldblock">
      <textarea type="text" (input)="changeComponent()" maxlength="5000" [(ngModel)]="supportSetting.defaultProps">
                    Please enter description
                </textarea>
    </div>
  </div>
  <div *ngIf="supportSetting.placeholder" class="wf-field wf-setting-placeholder">
    <div class="fieldname">
      <span>Hint</span>
      <span class="fieldinfo">50 characters max</span>
    </div>
    <div class="fieldblock">
      <input type="text" (input)="changeComponent()" maxlength="50" [(ngModel)]="supportSetting.defaultProps">
    </div>
  </div>
  <div *ngIf="supportSetting.placeholder2" class="wf-field wf-setting-placeholder">
    <div class="fieldname">
      <span>Hint</span>
      <span class="fieldinfo">50 characters max</span>
    </div>
    <div class="fieldblock">
      <input type="text" (input)="changeComponent()" maxlength="50" [(ngModel)]="supportSetting.defaultProps2">
    </div>
  </div>
  <div *ngIf="supportSetting.href" class="wf-field wf-setting-display">
    <div class="fieldname">
      <span>Can enter Http url</span>
    </div>
    <div class="fieldblock">
      <textarea type="text" (input)="changeComponent()" [(ngModel)]="supportSetting.defaultHref">
                </textarea>
    </div>
  </div>
  <div *ngIf="supportSetting.dateformat" class="wf-field wf-setting-placeholder">
    <div class="fieldname">
      <span>Date Format</span>
    </div>
    <div class="fieldname">
      <label class="fieldblock">
        <input type="radio" name="dateformat" [(ngModel)]="supportSetting.defaultFormat" value="yyyy-MM-dd HH:mm">
        <span class="verticalmiddle">YYYY-MM-DD HH:ss</span>
      </label>
      <label class="fieldblock">
        <input type="radio" name="dateformat" [(ngModel)]="supportSetting.defaultFormat" value="yyyy-MM-dd">
        <span class="verticalmiddle">YYYY-MM-DD</span>
      </label>
    </div>
  </div>
  <div *ngIf="supportSetting.uint" class="wf-field wf-setting-placeholder">
    <div class="fieldname">
      <span>Unit</span>
      <span class="fieldinfo">50 characters max</span>
    </div>
    <div class="fieldblock">
      <input type="text" (input)="changeComponent()" [(ngModel)]="supportSetting.defaulUint">
    </div>
  </div>
  <div *ngIf="supportSetting.defaultOptions" class="wf-field wf-setting-options">
    <div class="fieldname">
      <span>Options</span>
      <span class="fieldinfo">200 options max, 20 words max each option</span>
    </div>
    <div [ngClass]="{limitdel:supportSetting.defaultOptions.length<=1,limitadd:supportSetting.defaultOptions.length>=200}">
      <div *ngFor="let n of supportSetting.defaultOptions; let index = index" class="fieldblock wf-setting-options">
        <input type="text" maxlength="20" [(ngModel)]="n.text">
        <a (click)="del($event)" [attr.data-index]="index" class="action action-del">
          <i class="icon icon-minus"></i>
        </a>
        <a (click)="add($event)" [attr.data-index]="index" class="action action-add">
          <i class="icon icon-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="supportSetting.important" class="wf-field wf-setting-required">
    <div class="fieldname">Validation</div>
    <label class="fieldblock">
      <input type="checkbox" (change)="changeComponent()" value="1" [(ngModel)]="supportSetting.defaultImportant">
      <span class="verticalmiddle">Required</span>
    </label>
  </div>
  <!-- <div *ngIf="supportSetting.translate" class="wf-field wf-setting-conformat">
    <div class="fieldname">大写</div>
    <label class="fieldblock">
      <input type="checkbox" (change)="changeComponent()" value="1" [(ngModel)]="supportSetting.defaultTranslate">
      <span class="verticalmiddle">显示大写</span>
      <span class="verticalmiddle fieldinfo">（数字输入后自动显示大写）</span>
    </label>
  </div> -->
  <div *ngIf="supportSetting.autorekonTime" class="wf-field-group">
    <div class="wf-field">
      <div class="fieldname">Calculate durations automatically</div>
    </div>
    <div class="wf-field wf-setting-duration">
      <label class="fieldblock">
        <input type="checkbox" (change)="changeComponent()" value="1" [(ngModel)]="supportSetting.defaultAutorekonTime">
        <span class="verticalmiddle">Enable</span>
      </label>
    </div>
    <div class="wf-setting-duration-label" *ngIf="supportSetting.defaultAutorekonTime">
      <div class="wf-field wf-setting-label">
        <div class="fieldname">
          <span>Title</span>
          <span class="fieldinfo">50 characters max</span>
        </div>
        <div class="fieldblock">
          <input type="text" maxlength="50" [(ngModel)]="supportSetting.defaultSubtitle">
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="supportSetting.sync" class="wf-field wf-setting-required">
    <div class="fieldname">Synchronization</div>
    <label class="fieldblock">
      <input type="checkbox" (change)="changeComponent()" value="1" [(ngModel)]="supportSetting.defaultSync">
      <span class="verticalmiddle">Enable</span>
    </label>

  </div>
  <div *ngIf="supportSetting.print" class="wf-field wf-setting-print">
    <div class="fieldname">Print</div>
    <label class="fieldblock">
      <input type="checkbox" (change)="changeComponent" value="1" [(ngModel)]="supportSetting.defaultPrint">
      <span class="verticalmiddle">Show in print</span>
      <!-- <span class="verticalmiddle">（如不勾选打印时，不显示此项）</span> -->
    </label>
  </div>
</div>