<div class="wf-form wf-formsettings">
  <div class="wf-field wf-setting-title">
    <div class="fieldname">
      <span>Approval Name</span>
      <span class="fieldinfo"> 10 words max</span>
    </div>
    <div class="fieldblock">
      <input type="text" (input)="changeInfo()" maxlength="10" [(ngModel)]="title">
    </div>
  </div>
  <div class="wf-field wf-setting-description">
    <div class="fieldname">
      <span>Approval description</span>
      <span class="fieldinfo"> 100 words max</span>
    </div>
    <div class="fieldblock">
      <textarea type="text" (input)="changeInfo()" maxlength="100" [(ngModel)]="description"></textarea>
    </div>
  </div>
  <div class="wf-field wf-setting-icon">
    <div class="fieldname">
      Icon
    </div>
    <div class="fieldblock">
      <div class="wf-iconselect">
        <label (click)="selectIcon($event)" [attr.data-index]="index" [attr.data-icon]="item.value" *ngFor="let item of icons;let index = index" class="iconitem" [ngClass]="index==selected?'seltected':''">
          <i class="icon icon-checked" *ngIf="index==selected"></i>
          <img [src]="item.value">

        </label>
      </div>
    </div>
  </div>
</div>